.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 0 5vw;
}

.container {
  display: flex;
  flex-direction: row; 
  align-items: start;
  justify-content: center;
  width: 100%;
  max-width: 1200px; 
  padding: 3vh 3vw;
  background-color: #ffffff;
  border-radius: 1vw;
  box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}

.container:hover {
  box-shadow: 0 0.6vw 1.2vw rgba(0, 0, 0, 0.12);
}

.h1 {
  font-size: 2.4em;
  font-weight: 600;
  color: #2c2c2c;
  text-transform: capitalize; /* Changed from uppercase for a softer look */
  margin: 2vh 0;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2vh 2vw;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3vh 0;
}

.label {
  font-size: 1.1em;
  font-weight: 500;
  color: #3c3c3c;
  margin: 1vh 1.5vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(50% - 3vw);
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 0.5vh 0;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  border-radius: 0.5vw;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
}

.input:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.input:focus {
  border-color: #007BFF;
  background-color: #e6f7ff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.button {
  padding: 1vh 2.5vw;
  margin: 3vh 0;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 0.6vw;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.feedback, .review {
  margin: 2vh 0;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}

.feedback.error {
  color: #D32F2F;
  background-color: #FFEBEE;
}

.feedback.success, .review {
  color: #388E3C;
  background-color: #E8F5E9;
}
